In [1]:
# %matplotlib inline
# import matplotlib.pylab as plt
import pandas as pd
import numpy as np
import os

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('precision', 6)

# from pylab import rcParams
# import matplotlib
# matplotlib.style.use('ggplot')
# rcParams['figure.figsize'] = 8,6

# Autoreload modules after editing
%load_ext autoreload
%autoreload 2

# set the notebook's working 
working_directory = '/Users/rwk7t/Development/dst/courses/coursera_bigdata/course2'
os.chdir(working_directory)  
print('Working directory is set to %s' %os.getcwd())

Working directory is set to /Users/rwk7t/Development/dst/courses/coursera_bigdata/course2

## get program count

In [2]:
program_count = {}
program_count['A'] = pd.read_csv('join2_gennumA.txt', header = None, names = ['program', 'count'])
program_count['B'] = pd.read_csv('join2_gennumB.txt', header = None, names = ['program', 'count'])
program_count['C'] = pd.read_csv('join2_gennumC.txt', header = None, names = ['program', 'count'])

In [3]:
program_count['A'].head(3)

           program  count
0    Hourly_Sports     21
1  PostModern_Show     38
2     Surreal_News     73

In [4]:
# concat
program_count_full = pd.concat([program_count['A'],program_count['B'], program_count['C']])
program_count_full = program_count_full.groupby('program', as_index = False).sum()
program_count_full.head(3)

          program  count
0  Almost_Cooking  49501
1    Almost_Games  49237
2     Almost_News  46592

## get program channels

In [5]:
program_channel = {}
program_channel['A'] = pd.read_csv('join2_genchanA.txt', header = None, names = ['program', 'channel'])
program_channel['B'] = pd.read_csv('join2_genchanB.txt', header = None, names = ['program', 'channel'])
program_channel['C'] = pd.read_csv('join2_genchanC.txt', header = None, names = ['program', 'channel'])


# concat
program_channel_full = pd.concat([program_channel['A'],program_channel['B'], program_channel['C']])
program_channel_full.head(3)

              program channel
0       Hourly_Sports     DEF
1          Baked_News     BAT
2  PostModern_Talking     XYZ

In [6]:
program_df = program_count_full.merge(program_channel_full, how = 'inner', on = 'program')

## find ABC program

In [7]:
abc_df = program_df.query("channel == 'ABC'")
abc_df

              program   count channel
10       Almost_Games   49237     ABC
19        Almost_News   46592     ABC
28        Almost_Show   50202     ABC
76        Baked_Games   51604     ABC
87         Baked_News   47211     ABC
151         Cold_News   47924     ABC
171       Cold_Sports   52005     ABC
228         Dumb_Show   53824     ABC
246      Dumb_Talking  103894     ABC
274         Hot_Games   50228     ABC
292          Hot_Show   54378     ABC
333    Hourly_Cooking   54208     ABC
362       Hourly_Show   48283     ABC
384    Hourly_Talking  108163     ABC
413        Loud_Games   49482     ABC
432         Loud_Show   50820     ABC
478  PostModern_Games   50644     ABC
489   PostModern_News   50021     ABC
552      Surreal_News   50420     ABC
572    Surreal_Sports   46834     ABC

In [8]:
abc_df[['program', 'count']].to_csv('part2_output.txt', sep = ' ', index = False, header = None)